*{
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 70em;
    height: 70em;
    padding: 5em;
    background-color: whitesmoke;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 35em;
    justify-content: stretch;
    align-items: flex-start;
    align-content: stretch;
    margin: auto;
    padding: 0; 
    border: 1px dashed darkgrey;
    background-color: lightgrey;
}

nav{   
    width: 150px;
}
footer{   
    width: 150px;
}

.flexcontainer-row{
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: lightgrey;
    padding: 1em;
}
.row2{
    background-color: white; 
}

p{
    font-size: 0.8em;
}

li{
    font-size: 0.8em;
}

.item2{
    order: -1;
}